html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*from bootstrap*/

.embed-responsive {
  position: absolute;
  display: block;
  height: auto;
  padding: 0;
  bottom: 0;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  bottom: 4rem;
  left: 10vw;
  width: 80vw;
  height: 100%;
  border: 0;
  max-width: 720px;
  max-height: 400px;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
} 

/* main style */

body {
  height: 100%;
  width: 100%;
  background-color: #444;
  position: relative;
  height: 100%;
}

img {
  width: 100%;
  max-width: 720px;
  position: relative;
  height: auto;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: rgba(0,0,0,.6);
  line-height: 3rem;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: -5rem 0 5rem 0;
  color: white;
  position: relative;
  font-size: 1.3rem;
  font-family: Raleway;
  font-weight: bold;
  max-width: 720px;
  position: relative;
}

.lead {
  background-color: yellow;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  font-family: "Raleway";
  color: #444;
  font-weight: bold;
  font-size: 1.3rem;
}

h2 {
  color: white;
  font-family: "raleway";
  font-weight: bold;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.3rem;
}

p {
  font-family: Raleway;
  color: #999;
  padding: 1rem 2rem 1rem 2rem
}

table {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin: 2rem 5% 1rem 5%;
  border: 1px solid #999;
  box-sizing: border-box;
  padding: 0.5rem;
  color: #999;
  font-family: Raleway;
}

caption, th {
  font-weight: bold;
  border: 1px solid;
  padding: 1rem 0 1rem 0;
}

td {
  border: 1px solid;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

th {
  background-color: rgba(0,0,0,.2);
}

hr {
  color: #999;
  width: 90%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

footer {
  text-align: center;
  font-family: Raleway;
  color: #999;
  padding: 1rem 0 2rem 0;
}

a {
  color: aqua;
  text-decoration: none;
}

.btn {
  width: 5rem;
  height: 2rem;
  background: #999;
  text-align: center;
  margin-left: 2rem;
  border: 3px solid rgba(0,0,0,.6);
  border-radius: 25px;
  font-family: Raleway;
}

.btn:hover {
  background-color: rgba(0,0,0,.4);
  border: 3px solid rgba(0,0,0,.8);
  color: darkcyan;
}

.video {
  padding: 0;
  color: aqua;
  padding-top: 0.5rem;
}

.overlay {
  position: absolute;
  z-index: 1000;
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.wrapper div.active {
  display: block;
}

.x-btn {
  height: 2rem;
  width: 2rem;
  position: absolute;
  bottom: 2%;
  right: 2%;
  border-bottom: 2px solid rgba(0,255,255,.3);
  text-align: center;
  color: rgba(0,255,255,.3);
  font-size: 1.7rem;
}

.x-btn:hover {
  color: darkcyan;
  border-bottom: 2px solid darkcyan;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
}

/* break point */

@media (min-width: 720px) {
  h2 {
    font-size: 2rem;
  }
  
  p, td, th, caption {
    font-size: 1.5rem;
  }
  
  .lead {
    font-size: 2rem;
  }
  
  h1 {
    font-size: 2rem;
    line-height: 4rem;
    margin-top: -6.5rem;
  }
  
  img, h1 {
    left: calc(50% - 360px);
  }
  
  p, h2 {
    padding: 1rem 4rem 1rem 4rem;
  }
  
  .lead {
    margin: 0 4rem 2rem 4rem;
    padding: 2rem
  }
  
  .btn {
    margin-left: 4rem;
    height: 3rem;
    width: 8rem;
    padding-top: 0.5rem;
  }
  
  .embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  left: calc(50vw - 360px);
  }
}